<mat-card>
  <mat-card-title>Current errand: </mat-card-title>
  <mat-card-content>
    <span *ngIf="currentErrand">{{currentErrand.description}}</span>
    <p>Remaining: {{errandsRemaining}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="leaveSession()">Leave</button>
    <button mat-raised-button (click)="popErrand()">Pop errand</button>
  </mat-card-actions>
</mat-card>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Session events
        </mat-panel-title>
      </mat-expansion-panel-header>

    <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let e of events">
              {{e.name}} {{e.description}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
</mat-expansion-panel>
